PySide6==6.8.3
certifi==2026.7.22
gsw==3.6.21
matplotlib==3.10.0
numpy==2.1.3
openpyxl==3.1.5
pandas==2.2.3
pyinstaller-hooks-contrib==2026.7
pyinstaller==6.22.2
scipy==1.15.3
sv_ttk==2.6.1
tkinterdnd2==0.6.2
